@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.sign-up, .container {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .sign-up {
        position: relative;
        right: 0; /* Adjusted */
    }
    
    .custom-navbar-toggle {
        right: 0; /* Adjusted */
    }
}
