@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }

@media screen and (max-width: 700px) {
    .foot {
        display: flex;
        justify-content: center;
        position: relative;
      padding-right: 5rem;
        width: 100%; /* Ensure the footer spans the full width */
        box-sizing: border-box; /* Include padding and border within width */
        
    }
        
.sign-up{
     position: relative;
     right: 12rem;
}
}

.custom-navbar-toggle{
    position: relative;
    right: 12rem;
}
  